/* styling for order cart  */

.container {
  background-color: antiquewhite;
  position: relative;
  width: 60dvw;
  min-height: 70svh;
  max-height: auto;
  top: 3dvw;
  margin: auto;
  padding: 20px;
}

.container > p {
  position: absolute;
  width: 30dvw;
  border: 2px solid black;
  background-color: azure;
  /* top: 10dvw; */
  height: 2dvw;
  left: 19dvw;
  text-align: center;
}

.close {
  position: relative;
  float: right;
  font-size: 1dvw;
  bottom: 0.5dvw;
  right: 1dvw;
  cursor: pointer;
}

.container > label {
  position: relative;
  top: 1dvw;
  font-size: 2.6dvw;
  /* left: 0.5dvw; */
  text-align: center;
  margin: 0 23dvw;
}

.table {
  /* background-color: chartreuse; */
  position: relative;
  width: 22dvw;
  height: 4svh;
  font-size: 1.5dvw;
  margin: 0.3dvw auto;
  top: 1dvw;
}

.select {
  float: right;
  font-size: 1.4dvw;
  width: 10dvw;
}

.detail {
  position: relative;
  width: 80%;
  height: auto;
  font-size: 2dvw;
  top: 1.5dvw;
  margin: auto;
}

.name {
  display: flex;
  float: left;
  width: 55%;
  border-bottom: 3px black solid;
}

.price {
  position: relative;
  display: flex;
  float: left;
  right: 2dvw;
  width: 20%;
  border-bottom: 3px black solid;
  justify-content: center;
}

.quantity {
  position: relative;
  display: flex;
  float: left;
  width: 20%;
  margin: auto;
  border-bottom: 3px black solid;
  justify-content: center;
}

.name1 {
  position: relative;
  display: flex;
  float: left;
  width: 55%;
  font-size: 1.5dvw;
}

.price1 {
  position: relative;
  display: flex;
  float: left;
  width: 15%;
  right: 1dvw;
  font-size: 1.5dvw;
  justify-content: center;
}

.quantity1 {
  position: relative;
  display: flex;
  float: left;
  width: 10%;
  font-size: 1.5dvw;
  justify-content: center;
}

.btn {
  position: relative;
  font-size: 1.5dvw;
  margin: 0 24dvw;
  top: 7dvw;
  color: black;
  background-color: aqua;
  border-radius: 20px;
  cursor: pointer;
}

.check {
  position: relative;
  float: left;
  width: 10px;
  cursor: pointer;
  top: 0.3dvw;
  padding-right: 4dvw;
}

.button {
  position: relative;
  display: left;
  float: left;
  width: 10%;
  height: 1.5dvw;
  cursor: pointer;
  border-radius: 20px;
  color: red;
}
