.header {
  width: 100dvw;
  height: 3dvw;
  background: linear-gradient(
    180deg,
    #4233e8 27.08%,
    rgba(14, 139, 255, 0) 50.52%,
    rgba(9, 151, 255, 0.39) 66.67%,
    #1400ff 73.96%
  );
  position: sticky;
}

.logo {
  width: 3dvw;
  height: 3dvw;
  border-radius: 40px;
  background: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  position: absolute;
  left: 2dvw;
  cursor: pointer;
}

.register {
  background-color: antiquewhite;
  width: 60dvw;
  height: 60svh;
  /* flex-shrink: 0; */
  display: flex;
  position: absolute;
  left: 20dvw;
  top: 23svh;
  margin: auto;
}

.btnbox {
  background-color: #857bee;
  width: 40dvw;
  height: 8svh;
  border-radius: 33px;
  position: relative;
  /* top: 5%; */
  /* left: 20%; */
  /* justify-content: center;
  align-items: center;  */
  /* margin: auto; */
}

.signup {
  background-color: aqua;
  width: 8dvw;
  height: 4svh;
  position: relative;
  left: 5dvw;
  top: 2svh;
  border-radius: 33px;
  text-align: center;
}

.signup > span {
  font-size: 1.5dvw;
}

.signin {
  background-color: aqua;
  width: 8dvw;
  height: 4svh;
  position: relative;
  left: 20dvw;
  bottom: 2svh;
  border-radius: 33px;
  text-align: center;
}

.signin > span {
  font-size: 1.5dvw;
}

.username {
  background-color: rgb(243, 73, 217);
  width: 30dvw;
  height: 6svh;
  position: relative;
  top: 50%;
}
.username > label {
  font-size: 1.2dvw;
  margin: auto;
}

.username > input {
  position: absolute;
  top: 3svh;
  left: 0dvw;
  width: 20dvw;
  height: 2svh;
  margin: auto;
}

.contact {
  position: relative;
  background-color: rgb(10, 144, 233);
  width: 30dvw;
  height: 6svh;
  position: relative;
  top: 50%;
}

.contact > label {
  font-size: 1.2dvw;
  margin: auto;
}

.contact > input {
  position: absolute;
  top: 3svh;
  left: 0dvw;
  width: 20dvw;
  height: 2svh;
  margin: auto;
}

.password {
  position: relative;
  width: 30dvw;
  height: 6svh;
  position: relative;
  top: 50%;
}

.password > label {
  font-size: 1.2dvw;
  margin: auto;
}

.password > input {
  position: absolute;
  top: 3svh;
  left: 0dvw;
  width: 20dvw;
  height: 2svh;
  margin: auto;
}

.term {
  position: relative;
  width: 30dvw;
  height: 6svh;
  position: relative;
  top: 50%;
}

.term > span {
  float: left;
  width: 10dvw;
}

.term > button {
  float: right;
}
