.header {
  width: 99.2dvw;
  height: 3dvw;
  background: linear-gradient(
    180deg,
    #4233e8 27.08%,
    rgba(14, 139, 255, 0) 50.52%,
    rgba(9, 151, 255, 0.39) 66.67%,
    #1400ff 73.96%
  );
  position: sticky;
}

.logo {
  width: 3dvw;
  height: 3dvw;
  border-radius: 40px;
  background: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  position: absolute;
  left: 2dvw;
  cursor: pointer;
}

.register {
  width: 40dvw;
  height: 60svh;
  display: flex;
  position: absolute;
  top: 23svh;
  justify-content: center;
  align-items: center;
  margin: 0 28dvw;
  /* border: 2px black solid; */
}

.btnbox {
  background-color: rgb(252, 196, 112);
  width: 30dvw;
  height: 8svh;
  border-radius: 33px;
  position: absolute;
  top: 5%;

  justify-content: center;
  align-items: center;
  margin: 0 18%;
}

.signup {
  background-color: rgba(158, 137, 106, 1);
  width: 8dvw;
  height: 7svh;
  position: relative;
  left: 4dvw;
  top: 0.5svh;
  border-radius: 33px;
  text-align: center;
  cursor: pointer;
}

.signup > span {
  font-size: 2dvw;
  position: relative;
  top: 0.4dvw;
}

.signin {
  background-color: rgba(158, 137, 106, 1);
  width: 8dvw;
  height: 7svh;
  position: relative;
  float: right;
  right: 4dvw;
  bottom: 6.5svh;
  border-radius: 33px;
  text-align: center;
  cursor: pointer;
}

.signin > span {
  font-size: 2dvw;
  position: relative;
  top: 0.4dvw;
}

.username {
  /* background-color: rgb(243, 73, 217); */
  width: 30dvw;
  height: 10svh;
  position: relative;
  top: 50%;
}

.username > label {
  font-size: 2dvw;
  margin: auto;
}

.username > input {
  position: absolute;
  top: 5svh;
  left: 0dvw;
  width: 30dvw;
  height: 5svh;
  margin: auto;
}

input::placeholder {
  font-size: 1dvw;
}

.contact {
  position: relative;
  /* background-color: rgb(10, 144, 233); */
  width: 30dvw;
  height: 10svh;
  position: relative;
  top: 70%;
}

.contact > label {
  font-size: 2dvw;
  margin: auto;
}

.contact > input {
  position: absolute;
  top: 5svh;
  left: 0dvw;
  width: 30dvw;
  height: 5svh;
  margin: auto;
}

.password {
  position: relative;
  /* background-color: rgb(10, 144, 233); */
  width: 30dvw;
  height: 10svh;
  position: relative;
  top: 90%;
}

.password > label {
  font-size: 2dvw;
  margin: auto;
}

.password > input {
  position: absolute;
  top: 5svh;
  left: 0dvw;
  width: 30dvw;
  height: 5svh;
  margin: auto;
}

.check {
  /* background-color: pink; */
  position: relative;
  float: right;
  top: 15%;
  right: 2%;
  font-size: 20px;
}

.term {
  position: relative;
  width: 30dvw;
  height: 6svh;
  position: relative;
  top: 120%;
  left: 2%;
}

.term > span {
  font-size: large;
  float: left;
  width: 30dvw;
}

.registerbtn{
  float: right;
  width:10dvw;
  height: 5svh;
  position: relative;
  right: 10%;
  border-radius: 30px;
  background-color: chocolate;}

.loginBtn {
  position: relative;
  margin: 0 10dvw;
  top: 5dvw;
  width: 10dvw;
  height: 3dvw;
  border-radius: 33px;
  background-color: dodgerblue;
  font-size: 2dvw;
}

.food {
  background-color: cornflowerblue;
  width: 9dvw;
  height: 2dvw;
  border-radius: 50%;
  position: absolute;
  top: 0.5dvw;
  left: 15dvw;
  cursor: pointer;
}

.food > p {
  font-size: 1.5dvw;
  text-align: center;
  position: relative;
  bottom: 1.3dvw;
}

.beverage {
  background-color: cornflowerblue;
  width: 9dvw;
  height: 2dvw;
  border-radius: 50%;
  position: absolute;
  top: 0.5dvw;
  left: 30dvw;
  cursor: pointer;
}

.beverage > p {
  font-size: 1.5dvw;
  text-align: center;
  position: relative;
  bottom: 1.3dvw;
}

.cart {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 3dvw;
  height: 3dvw;
  left: 80dvw;
  cursor: pointer;
}

.p {
  position: relative;
  float: right;
  right: 17dvw;
  bottom: 0.7dvw;
  font-size: 1.2dvw;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}

.displayname {
  width: fit-content;
  height: 1.5dvw;
  position: absolute;
  left: 84dvw;
  bottom: 0.7dvw;
  font-size: 1dvw;
  border-radius: 30px;
  cursor: pointer;
}

.logout {
  background-color: beige;
  width: 3dvw;
  height: 3dvw;
  border-radius: 50%;
  position: sticky;
  left: 95dvw;
  cursor: pointer;
}
