.tblcontainer {
  /* background-color: bisque; */
  width: 60dvw;
  height: 7dvw;
  display: flex;
  justify-content: space-around;
  margin: 7dvw auto 1dvw auto;
}

.tblcontainer2 {
  /* background-color: bisque; */
  width: 60dvw;
  height: 7dvw;
  display: flex;
  justify-content: space-around;
  margin: 3dvw auto;
}

.table {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.number {
  position: relative;
  width: 7dvw;
  height: 7dvw;
  border: 2px black solid;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  background-color: cadetblue;
  font-size: 4dvw;
}

.number > p {
  position: relative;
  font-size: 4dvw;
  bottom: 2.8dvw;
}

.listDetail {
  background-color: beige;
  /* position:absolute; */
  display: flex;
  width: 50dvw;
  min-height: dvw;
  margin: 4dvw auto;
  padding-bottom: 50px;
}

.listDetail > p {
  /* background-color: aqua; */
  position: absolute;
  width: 40dvw;
  /* height: fit-content; */
  margin: 2dvw 4dvw;
  font-size: 2dvw;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.box {
  /* background-color: blueviolet; */
  position: absolute;
  margin: 0 5dvw;
  width: 50dvw;
  top: 14dvw;
}

.tableinfo {
  position: relative;
  /* background-color: rgb(201, 223, 242); */
  width: cals(100%/5);
  float: left;
  left: auto;
}

.colon {
  /* width: cals(100%/5); */
  /* background-color: yellowgreen; */
  position: relative;
  width: 1%;
  float: left;
}

.result {
  /* width: cals(100%/5); */
  /* background-color: chocolate; */
  position: relative;
  width: 50%;
  float: left;
}

.result > p {
  position: relative;
  left: 1dvw;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  top: 20dvw;
  width: 60dvw;
  left: 30dvw;
  margin: auto;

  /* justify-content: center; */
  /* align-self: center; */
}

.list > p {
  /* position: inherit; */
  display: flex;
  flex-direction: row;
  width: 60dvw;
  font-size: 1.3dvw;
  text-decoration: underline;
  margin-bottom: 2px;
}
/* .itemName {
  position: relative;
} */

.individual {
  background-color: cadetblue;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60dvw;
  top: 15.5dvw;
  left: 5dvw;
}

.individual > p {
  position: relative;
  margin: 5px;
  width: calc(100%/5);
  display: flex;
  flex-direction: row;
}

.admend{
  border-radius: 33px;
  background-color: aquamarine;
  height: 20px;
}

.delete{
  border-radius: 33px;
  background-color: red;
  height: 20px;
}

.payment{
  position: relative;
}
